@model Models.ShowCvViewModel

@{
    bool isAuth = User.Identity.IsAuthenticated;
}


@if (Model.User == null || Model.User.Cvs == null || Model.User.Cvs.Count == 0)
{
    <h2>Det finns ingen användare som har det användarnamnet, eller så finns det inget cv på denna användare.</h2>
}

else
{
    if (!Model.User.IsPrivate || isAuth)
    {
        @*Visa användarinfo *@
        <div class="row">
            <div class="col-8">
                <h2>@Model.User.Name</h2>
                <p>@Model.User.Email</p>
                <form asp-controller="User" asp-action="SerializeProfile" method="post">
                    <input type="hidden" name="username" value=@Model.User.UserName/>
                    <button type="submit" class="btn btn-primary border-2 border-dark">Skriv ut profil</button>
                </form>
                <form asp-controller="Messages" asp-action="SendMessage" method="get">
                    <input type="hidden" name="username" value=@Model.User.UserName/>
                    <button type="submit" class="btn btn-primary border-2 border-dark">Skicka meddelande</button>
                </form>
            </div>
            <div class="col-2">
                @if (Model.User.ProfilePicture != null && Model.User.ProfilePicture.Length > 0)
                {
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.User.ProfilePicture)"
                         alt="profilbild för @Model.User.Name"
                         class="rounded-circle" style="width: 100px; height: 100px; object-fit: cover"/>
                }
                else
                {
                    <img src="/images/profile-placeholder.jpg"
                         alt="Ingen profilbild"
                         class="rounded-circle"
                         style="width: 100px; height: 100px; object-fit: cover;"/>
                }
                @if (Model.IsWriter)
                {
                    <p>Såhär många har sett ditt CV: @Model.ViewCount</p>
                    <h3>Byt profilbild</h3>
                    <form asp-action="Image" asp-controller="User" method="post" enctype="multipart/form-data">
                        <input type="file" name="image" />
                        <button type="submit">Ladda upp bild</button>
                    </form>
                }
            </div>
        </div>

        @*Visa cvn *@
        <h2>Cv</h2>
        @foreach (var cv in Model.User.Cvs)
        {
            <p>@cv.Description</p>
            <div class="card">

                <h3 class="card-header">Erfarenheter</h3>
                <div class="card-body container">
                    <div class="row">
                        @foreach (var education in cv.Educations)
                        {
                            <div class="card col">
                                <h3 class="card-header">@education.Title</h3>
                                <p>@education.Description</p>
                                <h3>Kompetenser</h3>

                                @foreach (var skill in education.Skills)
                                {
                                    <div class="card">
                                        <p class="card-header">@skill.Name</p>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
                @*Visa projekt*@
                <h2 class="card-header">Projekt</h2>
                <div class="container">
                    <div class="row">
                        @foreach (var project in Model.Projects)
                        {
                            <div class="card col">
                                <h3 class="card-header">@project.Title</h3>
                                @if ((project.CreatedByNavigation.IsPrivate && !isAuth) || !project.CreatedByNavigation.IsActive)
                                {
                                    <p class="card-text">Skaparen är privat</p>
                                }
                                else
                                {
                                    <p class="card-text container-fluid">
                                    <p>Skapad av:</p>
                                    <a asp-action="ShowCv" asp-route-username=@project.CreatedByNavigation.UserName>
                                        <p>@project.CreatedByNavigation.Name</p></a></p>
                                }
                                <h4 class="card-text">@project.Description</h4>
                                <div class="card">
                                    <h4 class="card-header">Deltagare</h4>
                                    @foreach (var user in project.Users)
                                    {
                                        if (!user.IsPrivate || (user.IsPrivate && isAuth))
                                        {
                                            if (user.IsActive)
                                            {
                                                <a asp-action="ShowCv" asp-route-username=@user.UserName>
                                                    <p>@user.Name</p></a>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }


        @*Visa matchningar*@
        <h2>Andra användare med liknande kompetenser</h2>

        <div class="card container">
            @if (Model.UsersMatch.Count() == 0)
            {
                <h3>Det finns inga matchningar</h3>
            }
            <div class="row">
                @foreach (var user in Model.UsersMatch)
                {
                    <div class="card col">
                        <a asp-action="ShowCv" asp-route-username=@user.UserName><h3 class="card-header">@user.Name</h3>
                        </a>
                        @*Loopar igenom Cvn -> Erfarenheter -> Färdigheter*@
                        @foreach (var cv in user.Cvs)
                        {
                            @foreach (var education in cv.Educations)
                            {
                                @foreach (var skill in education.Skills)
                                {
                                    <p>@skill.Name</p>
                                }
                            }
                        }
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div>
            <h3>Användaren är privat, var vänlig logga in för att se den.</h3>
        </div>
    }
}

