@{
    ViewData["Title"] = "Home Page";
}

@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexViewModel;



@*  <form asp-action="Index" method="get">
    <label>Filtrera användare utifrån om deras profil är aktiv?</label>
    <input type="checkbox"
    @if ((bool)ViewData["ShowOnlyActive"]){<text>checked</text>}
    onchange="this.form.submit()"
    name="showOnlyActive"
    value="true"/>do
</form> *@


<div class="text-center">
    @foreach (var cv in Model.cvs)
    {
        <div class="card">
            <a class="card-header" asp-controller="Cv" asp-action="ShowCv"
               asp-route-username=@cv.OwnerNavigation>@cv.OwnerNavigation</a>
            <h3>CV</h3>
            <p>@cv.Description</p>
            <div class="card container">
                <div class="row">
                    <h3>Erfarenheter</h3>
                    @foreach (var education in cv.Educations)
                    {
                        <div class="card col">
                            <h3 class="card-header">@education.Title</h3>
                            <p>
                                @education.Description
                            </p>
                            <div class="card">
                                <h4 class="card-header">Kompetenser</h4>
                                @foreach (var skill in education.Skills)
                                {
                                    <p>@skill.Name</p>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>


<div>
    <h3>Senaste projekt</h3>
    <div class="container">
        <div class="row">
        @foreach (var project in Model.projects)
        {
            <div class="card col-sm-4 align-content-end justify-content-between">

                <h4 class="card-header">@project.Title</h4>
                <p>@project.Description</p>
                @if (User.Identity.IsAuthenticated)
                {
                    string id = User.FindFirstValue(ClaimTypes.NameIdentifier);
                    bool isUserInProject = project.Users.Any(u => u.Id == id); // kollar om användaren är kopplad till projekt
                    if (!isUserInProject && Model.isActive)
                    {
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmModal" data-project-id="@project.ProjectId">
                            Anslut till projekt
                        </button>
                    }

                }
            </div>

        }
        </div>
    </div>
    
</div>

@*Modal för bekräftelse av anslutning till projekt *@
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Bekfräfta anslutning</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Vill du ansluta dig som medverkande i detta projekt?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
                <form id="confirmForm" method="post" asp-controller="Project" asp-action="AddUserToProject">
                    <input type="hidden" name="projectId" id="confirmProjectId"/>
                    <input type="hidden" name="userId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)"/>
                    <input type="hidden" name="route" value="Home"/>
                    <button type="submit" class="btn btn-primary">Anslut</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    //bekräfta anslutning till projekt
    const confirmModal = document.getElementById('confirmModal');
    confirmModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        const projectId = button.getAttribute('data-project-id');
        const confirmInput = document.getElementById('confirmProjectId');
        confirmInput.value = projectId;
    });
</script>