
@{
	ViewData["Title"] = "Projekt";
}

@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Models.ProjectViewModel
<h2>Projektlista</h2>

<table class="table">
    <thead>
        <td>Titel</td>
        <td>Skapat</td>
        <td>Beskrivning</td>
        <td>Skapare</td>
        <td>Deltagare</td>
    </thead>
    <tbody>
        
            @foreach (var project in Model.Projects)
            {
                bool isUserInProject = Model.User != null && project.Users.Any(u => u.Id == Model.User.Id); // kollar om användaren är kopplad till projekt
            <tr>
                <td>@project.Title</td>
                <td>@project.CreatedDate</td>
                <td>@project.Description</td>
                <td>@if (!User.Identity.IsAuthenticated && project.CreatedByNavigation?.IsPrivate == true)
                    {
                        <span>Privat</span>
                    }
                    else
                    {
                        @project.CreatedByNavigation?.Name
                    }
                    </td>
                <td>
                    @foreach (var user in project.Users)
                    {
                        <p>@user.Name</p>
                    }
                </td>
                <td>
                    @if(project.CreatedBy == User.FindFirstValue(ClaimTypes.NameIdentifier)) 
                    {
                        <div>
                        <a asp-action="Edit" asp-route-id="@project.ProjectId" class="btn btn-secondary btn-sm mb-2">Redigera</a>
                        <button type="button" class="btn btn-danger btn-sm mb-2" data-bs-toggle="modal" data-bs-target="#deleteModal" data-project-id="@project.ProjectId">
                            Radera
                        </button>
                        </div>
                    }
                    @* om användaren inte redan är med i projektet, är inloggad och aktiv*@
                    @if (!isUserInProject && User.Identity.IsAuthenticated && Model.User.IsActive)
                    {
                        <div>
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#confirmModal" data-project-id="@project.ProjectId">
                            Anslut till projekt
                        </button>
                        </div>
                    }
                    
                </td>
            </tr>
            }
    </tbody>
</table>

@*Visar felmeddelande på skapaknappen om man ej är inloggad *@
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Project" asp-action="Create" class="btn btn-primary">Skapa nytt projekt</a>
    }
    else
    {
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Skapa nytt projekt</button>
    }
</div>
@* Modal för radering och bekräftelse *@
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Bekräfta borttagning</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                Är du säker på att du vill ta bort detta projekt?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
                <form id="deleteForm" method="post" asp-action="Remove">
                    <input type="hidden" name="id" id="deleteProjectId"/>
                    <button type="submit" class="btn btn-danger">Ta bort</button>
                </form>
            </div>
        </div>
    </div>
</div>
@*Modal för bekräftelse av anslutning till projekt *@
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Bekfräfta anslutning</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Vill du ansluta dig som medverkande i detta projekt?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
                <form id="confirmForm" method="post" asp-action="AddUserToProject">
                    <input type="hidden" name="projectId" id="confirmProjectId"/>
                    <input type="hidden" name="userId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)"/>
                    <input type="hidden" name="route" value="Project"/>
                    <button type="submit" class="btn btn-primary">Anslut</button>
                </form>
            </div>
        </div>
    </div>
</div>
@* Modal för att bli skickad till inloggningssidan *@
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Inloggning krävs</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Du måste vara inloggad för att skapa ett projekt. Vill du logga in?
            </div>
            <div class="modal-footer">
                <button type="button" class=" btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
                <a href="/Account/Login" class="btn btn-primary">Logga in</a>
            </div>
        </div>
    </div>
</div>


<script> 
    //radera projekt
    const deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget; //modalknappen
        const projectId = button.getAttribute('data-project-id'); //hämta projektid från dataattributet
        const deleteInput = document.getElementById('deleteProjectId'); //hitta hidden input från modalen och sätter det till projektid
        deleteInput.value = projectId;
    });
    //bekräfta anslutning till projekt
    const confirmModal = document.getElementById('confirmModal');
    confirmModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        const projectId = button.getAttribute('data-project-id');
        const confirmInput = document.getElementById('confirmProjectId');
        confirmInput.value = projectId;
    })
</script>