
@{
	ViewData["Title"] = "Projekt";
}

@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IQueryable<cvprojekt.Models.Project>
<h2>Projektlista</h2>

<table class="table">
    <thead>
        <td>Titel</td>
        <td>Skapat</td>
        <td>Beskrivning</td>
        <td>Skapad av</td>
        <td>Deltagare</td>
    </thead>
    <tbody>
        
            @foreach (var project in Model)
            {
                var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier); // hämtar användarid från inlogg
                bool isUserInProject = project.Users.Any(u => u.Id == currentUserId); // kollar om användaren är kopplad till projekt
                bool isUserLoggedIn = User.Identity.IsAuthenticated; // kollar om användare är inloggad
            <tr>
                <td>@project.Title</td>
                <td>@project.CreatedDate</td>
                <td>@project.Description</td>
                <td>@project.CreatedByNavigation?.Name</td>
                <td>
                    @foreach (var user in project.Users)
                    {
                        <p>@user.Name</p><br/>
                    }
                </td>
                <td>
                    @if(project.CreatedBy == User.FindFirstValue(ClaimTypes.NameIdentifier)) 
                    {
                        
                            <a asp-action="Edit" asp-route-id="@project.ProjectId" class="btn btn-warning">Redigera</a>
                            <a asp-controller="Project" asp-action="Remove" asp-route-id="@project.ProjectId" class="btn btn-danger">Radera</a>
                        
                    }
                    else if (!isUserInProject && isUserLoggedIn)
                    {
                        <form asp-action="AddUserToProject" method="post" style="display: inline" onsubmit="return confirmAddToProject()">
                            <input type="hidden" name="ProjectId" value="@project.ProjectId"/>
                            <input type="hidden" name="UserId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)"/>
                            <button type="submit" class="btn btn-primary">Anslut till projekt</button>
                        </form>
                    }
                </td>
            </tr>
            }
    </tbody>
</table>

<div>
    <a asp-controller="Project" asp-action="Create" class="btn btn-primary">Skapa nytt projekt</a>
</div>


<script>
    function confirmAddToProject() {
        alert("Du har lagts till som deltagare i detta projekt");
        return true;
    }
</script>